* {
    box-sizing: border-box;
}

body {
    background-color: #b07cf7;
    font-family: 'Raleway', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 100px auto auto;
}

.text {
    text-align: center;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.article {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 250px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.90));
    display: flex;
    flex-direction: column;
    padding: 22px;
    color: white;
    margin: auto auto 26px;
    position: relative;
    overflow: hidden;
}

.article {
    cursor: pointer;
}

.article:active {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

.date {
    background-color: rgba(38, 38, 38, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

img {
    left: -9px;
    top: -5px;
    position: absolute;
    z-index: -1;
    width: 106%;
}

/* Text */

.date>p {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.article>h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.article>p {
    font-size: 10px;
}

.text {
    color: white;
    margin-bottom: 46px;
    max-width: 58%;
}

.text>h1 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 34px;
}

.number {
font-size: 146%;
}

.button {
   margin-top: 40px;
   margin-bottom: 50px;
}

.button>.answer-group {
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.answer-group>label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f72b3b;
    width: 190px;
    height: 50px;   
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.answer-group>input {
    display: none;
}

.answer-group>label:active {
    background-color: #c92532;
}

.answer-group>label:hover {
    filter: brightness(1.04);
}